workflow/cmdstan/*
workflow/bayestan/*
workflow/Bencyes/*
workflow/consistency/*
plots/bayestan/*
plots/abundance/
plots/ao/*
plots/diversity/*
plots/eco_params/*
plots/jaccard/*
plots/mad/*
plots/occupancy/
plots/rarefaction/*
plots/sad/*
results/cricket/*
results/easter/*
results/easter/mid*
results/easterRun1/*
results/CricketRefSeqDiagnosis/samples/*
results/CricketRefSeqDiagnosis/observables/*
results/dirichletRefSeqDiagnosis/samples/*
results/dirichletRefSeqDiagnosis/observables/*
results/schlomilchRefSeqDiagnosis/samples/*
results/schlomilchRefSeqDiagnosis/observables/*
configurations/bayestan/*
configurations/consistency/*
data/JKR2meta/kaiju_UHGG_table.csv
data/JKR2meta/kaiju_corePFAM_table.csv
data/JKR2meta/kraken_RefSeq_table.csv
data/metadata/franzosa
data/metadata/hmp2
data/metadata/mars
data/metadata/aggregated/run2.txt
data/model
data/observables
data/configurations
##############################
### DELETE SECTION
workflow/maintext/model_lego.py